{% extends 'base.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
    <textarea style="width: 50%; height: 100px;"></textarea>
    <div>
        <button class="btn btn-primary">Send message</button>
    </div>
{% endblock %}
