<header class="header">
  <div class="container" style="position: relative; min-height: 80px;">
    <h1>
      <a href="{{ path('homepage') }}">
        Acme Cheese Shop
      </a>
    </h1>

    <div style="position: absolute; top: 0; right: 0; padding: 2.25em;">
      <a href="#">Shopping basket (5 items)</a> - <a href="#">Sign out</a>
    </div>

    <div class="js-nav-toggle js-shown">
      <button
        class="navbar-toggle collapsed"
        aria-label="Toggle Navigation"
        data-target="#nav"
        data-toggle="collapse"
        type="button"
        role="button"
      >
        <span class="lines"></span>
      </button>
    </div>
  </div>
</header>
