{% extends 'base.html.twig' %}

{% block title %}
    Products
{% endblock %}

{% block content %}
    <ul>
        <li><a href="http://en.wikipedia.org/w/index.php?title=Bath_Blue&amp;action=edit&amp;redlink=1" class="new" title="Bath Blue (page does not exist)">Bath Blue</a></li>
        <li><a href="http://en.wikipedia.org/w/index.php?title=Barkham_Blue&amp;action=edit&amp;redlink=1" class="new" title="Barkham Blue (page does not exist)">Barkham Blue</a>&nbsp;–  a creamy and rich <a href="http://en.wikipedia.org/wiki/Blue_cheese" title="Blue cheese">blue cheese</a> with a <a href="http://en.wikipedia.org/wiki/Types_of_cheese#Washed-rind" title="Types of cheese">moldy rind</a>.<sup id="cite_ref-Harbutt_2-0" class="reference"><a href="#cite_note-Harbutt-2"><span>[</span>2<span>]</span></a></sup></li>
        <li><a href="http://en.wikipedia.org/wiki/Beenleigh_Blue_cheese" title="Beenleigh Blue cheese">Beenleigh Blue</a>&nbsp;–  a thin-rinded, unpressed soft <a href="http://en.wikipedia.org/wiki/Blue_cheese" title="Blue cheese">blue cheese</a> made from <a href="http://en.wikipedia.org/wiki/Organic_(food)" title="Organic (food)" class="mw-redirect">organic</a> <a href="http://en.wikipedia.org/wiki/Raw_milk" title="Raw milk">unpasteurized</a> <a href="http://en.wikipedia.org/wiki/Sheep_milk" title="Sheep milk">ewe's milk</a> produced in <a href="http://en.wikipedia.org/wiki/Ashprington" title="Ashprington">Ashprington</a>, <a href="http://en.wikipedia.org/wiki/Devon" title="Devon">Devon County</a>, <a href="http://en.wikipedia.org/wiki/England" title="England">England</a>.<sup id="cite_ref-Ridgway_3-0" class="reference"><a href="#cite_note-Ridgway-3"><span>[</span>3<span>]</span></a></sup><sup id="cite_ref-Caldwell_4-0" class="reference"><a href="#cite_note-Caldwell-4"><span>[</span>4<span>]</span></a></sup></li>
        <li>Birdwood Blue Heaven <sup id="cite_ref-Harbutt_2-1" class="reference"><a href="#cite_note-Harbutt-2"><span>[</span>2<span>]</span></a></sup></li>
        <li>Blacksticks Blue <sup id="cite_ref-Harbutt_2-2" class="reference"><a href="#cite_note-Harbutt-2"><span>[</span>2<span>]</span></a></sup></li>
        <li>Blissful Blue Buffalo <sup id="cite_ref-Harbutt_2-3" class="reference"><a href="#cite_note-Harbutt-2"><span>[</span>2<span>]</span></a></sup></li>
        <li>Blue Monday&nbsp;–  named after the <a href="http://en.wikipedia.org/wiki/Blue_Monday_(New_Order_song)" title="Blue Monday (New Order song)">song</a> by New Order, it is a cube-shaped cheese.<sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>5<span>]</span></a></sup></li>
        <li><a href="http://en.wikipedia.org/wiki/Brighton_Blue" title="Brighton Blue">Brighton Blue</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Buxton_Blue_cheese" title="Buxton Blue cheese" class="mw-redirect">Buxton Blue</a> (<a href="http://en.wikipedia.org/wiki/Protected_Designation_of_Origin" title="Protected Designation of Origin" class="mw-redirect">Protected Designation of Origin</a>, currently not produced<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"><span>[</span>6<span>]</span></a></sup>)</li>
        <li><a href="http://en.wikipedia.org/w/index.php?title=Cheshire_Blue&amp;action=edit&amp;redlink=1" class="new" title="Cheshire Blue (page does not exist)">Cheshire Blue</a> <sup id="cite_ref-7" class="reference"><a href="#cite_note-7"><span>[</span>7<span>]</span></a></sup></li>
        <li><a href="http://en.wikipedia.org/wiki/Cornish_Blue" title="Cornish Blue">Cornish Blue</a>&nbsp;–  from <a href="http://en.wikipedia.org/wiki/Cornwall" title="Cornwall">Cornwall</a> in the <a href="http://en.wikipedia.org/wiki/United_Kingdom" title="United Kingdom">United Kingdom</a>, and is made by the Cornish Cheese Company at <a href="http://en.wikipedia.org/wiki/Upton_Cross" title="Upton Cross">Upton Cross</a>.</li>
        <li><a href="http://en.wikipedia.org/w/index.php?title=Devon_Blue&amp;action=edit&amp;redlink=1" class="new" title="Devon Blue (page does not exist)">Devon Blue</a>&nbsp;–  a creamy blue cheese made by the Ticklemore Cheese Company using pasteurised cows milk, it is aged for four months.<sup id="cite_ref-8" class="reference"><a href="#cite_note-8"><span>[</span>8<span>]</span></a></sup></li>
        <li><a href="http://en.wikipedia.org/wiki/Dorset_Blue_Vinney" title="Dorset Blue Vinney">Dorset Blue Vinney</a> (<a href="http://en.wikipedia.org/wiki/Protected_Geographical_Indication" title="Protected Geographical Indication" class="mw-redirect">Protected Geographical Indication</a>)<sup id="cite_ref-9" class="reference"><a href="#cite_note-9"><span>[</span>9<span>]</span></a></sup>&nbsp;–  a traditional blue <a href="http://en.wikipedia.org/wiki/Cheese" title="Cheese">cheese</a> made near Sturminster Newton in <a href="http://en.wikipedia.org/wiki/Dorset" title="Dorset">Dorset</a>, <a href="http://en.wikipedia.org/wiki/England" title="England">England</a>, from <a href="http://en.wikipedia.org/wiki/Skimmed_milk" title="Skimmed milk">skimmed</a> cows' milk. It is a hard, crumbly cheese.</li>
        <li><a href="http://en.wikipedia.org/wiki/Dovedale_cheese" title="Dovedale cheese">Dovedale</a> (Protected Designation of Origin)&nbsp;–  a full-fat semi-soft blue-veined cheese made from <a href="http://en.wikipedia.org/wiki/Cattle" title="Cattle">cow's</a> <a href="http://en.wikipedia.org/wiki/Milk" title="Milk">milk</a>. It is from the <a href="http://en.wikipedia.org/wiki/Peak_District" title="Peak District">Peak District</a> of <a href="http://en.wikipedia.org/wiki/Great_Britain" title="Great Britain">Great Britain</a>.</li>
        <li>Dunsyre Blue <sup id="cite_ref-Symons_10-0" class="reference"><a href="#cite_note-Symons-10"><span>[</span>10<span>]</span></a></sup></li>
        <li><a href="http://en.wikipedia.org/w/index.php?title=Exmoor_Blue_cheese&amp;action=edit&amp;redlink=1" class="new" title="Exmoor Blue cheese (page does not exist)">Exmoor Blue</a> (Protected Geographical Indication)<sup id="cite_ref-Harbutt_2-4" class="reference"><a href="#cite_note-Harbutt-2"><span>[</span>2<span>]</span></a></sup></li>
        <li>Garstang Blue, made by Dewlay of Garstang.Cows milk pastuerised Veg.Soft creamy lancashire texture with smooth blue flavour.</li>
        <li><a href="http://en.wikipedia.org/wiki/Harbourne_Blue" title="Harbourne Blue">Harbourne Blue</a> has a crumby, dense and firm texture with 48% fat content.<sup id="cite_ref-11" class="reference"><a href="#cite_note-11"><span>[</span>11<span>]</span></a></sup> It's is a <a href="http://en.wikipedia.org/wiki/Ch%C3%A8vre_cheese" title="Chèvre cheese" class="mw-redirect">goat's cheese</a> produced by Robin Congdon at Ticklemore Cheese Company in <a href="http://en.wikipedia.org/wiki/Devon" title="Devon">Devon</a>,<sup id="cite_ref-12" class="reference"><a href="#cite_note-12"><span>[</span>12<span>]</span></a></sup> near <a href="http://en.wikipedia.org/wiki/Totnes" title="Totnes">Totnes</a>. It is made by hand by using <a href="http://en.wikipedia.org/wiki/Local_food" title="Local food">local</a> milk.<sup id="cite_ref-13" class="reference"><a href="#cite_note-13"><span>[</span>13<span>]</span></a></sup></li>
        <li><a href="http://en.wikipedia.org/w/index.php?title=Isle_of_Wight_Blue&amp;action=edit&amp;redlink=1" class="new" title="Isle of Wight Blue (page does not exist)">Isle of Wight Blue</a> <sup id="cite_ref-14" class="reference"><a href="#cite_note-14"><span>[</span>14<span>]</span></a></sup></li>
        <li><a href="http://en.wikipedia.org/wiki/Lanark_Blue" title="Lanark Blue">Lanark Blue</a>&nbsp;–  a <a href="http://en.wikipedia.org/wiki/Scotland" title="Scotland">Scottish</a> blue cheese made from <a href="http://en.wikipedia.org/wiki/Raw_milk" title="Raw milk">unpasteurised</a> <a href="http://en.wikipedia.org/wiki/Sheep_milk" title="Sheep milk">sheep milk</a>.<sup id="cite_ref-Jenkins_15-0" class="reference"><a href="#cite_note-Jenkins-15"><span>[</span>15<span>]</span></a></sup></li>
        <li><a href="http://en.wikipedia.org/wiki/Lymeswold_cheese" title="Lymeswold cheese">Lymeswold</a> was an <a href="http://en.wikipedia.org/wiki/England" title="England">English</a> cheese variety that is no longer produced. The cheese was a soft, mild blue cheese with an edible white rind,<sup id="cite_ref-GoodH_16-0" class="reference"><a href="#cite_note-GoodH-16"><span>[</span>16<span>]</span></a></sup> much like <a href="http://en.wikipedia.org/wiki/Brie_cheese" title="Brie cheese" class="mw-redirect">Brie</a>, and was inspired by <a href="http://en.wikipedia.org/wiki/France" title="France">French</a> cheeses. Production ceased in 1992.</li>
        <li><a href="http://en.wikipedia.org/w/index.php?title=Oxford_Blue_cheese&amp;action=edit&amp;redlink=1" class="new" title="Oxford Blue cheese (page does not exist)">Oxford Blue</a> <sup id="cite_ref-17" class="reference"><a href="#cite_note-17"><span>[</span>17<span>]</span></a></sup></li>
        <li>Ribblesdale Blue Goat <sup id="cite_ref-Symons_10-1" class="reference"><a href="#cite_note-Symons-10"><span>[</span>10<span>]</span></a></sup></li>
        <li>Radden Blue <sup id="cite_ref-Symons_10-2" class="reference"><a href="#cite_note-Symons-10"><span>[</span>10<span>]</span></a></sup></li>
        <li><a href="http://en.wikipedia.org/wiki/Shropshire_Blue" title="Shropshire Blue">Shropshire Blue</a>&nbsp;–  a blue cheese made from <a href="http://en.wikipedia.org/wiki/Pasteurized" title="Pasteurized" class="mw-redirect">pasteurised</a> cows' milk that is prepared using vegetable <a href="http://en.wikipedia.org/wiki/Rennet" title="Rennet">rennet</a>.</li>
        <li><a href="http://en.wikipedia.org/wiki/Stichelton" title="Stichelton">Stichelton</a>&nbsp;–  an English blue cheese similar to Blue <a href="http://en.wikipedia.org/wiki/Stilton_cheese" title="Stilton cheese">Stilton cheese</a>, except that it does not use <a href="http://en.wikipedia.org/wiki/Pasteurization" title="Pasteurization">pasteurised</a> milk or <a href="http://en.wikipedia.org/wiki/Factory" title="Factory">factory</a>-produced <a href="http://en.wikipedia.org/wiki/Rennet" title="Rennet">rennet</a>.<sup id="cite_ref-taste_18-0" class="reference"><a href="#cite_note-taste-18"><span>[</span>18<span>]</span></a></sup></li>
        <li><a href="http://en.wikipedia.org/wiki/Stilton_cheese" title="Stilton cheese">Stilton</a> (Protected Designation of Origin)&nbsp;–  an English cheese, produced in two varieties: the blue variety is known for its characteristic strong smell and taste. The lesser-known white Stilton cheese is a milder, semi-soft cheese.</li>
        <li><a href="http://en.wikipedia.org/wiki/Wensleydale_cheese" title="Wensleydale cheese">Blue Wensleydale</a>&nbsp;–  a crumbly, moist cheese produced in <a href="http://en.wikipedia.org/wiki/Wensleydale" title="Wensleydale">Wensleydale</a>, <a href="http://en.wikipedia.org/wiki/North_Yorkshire" title="North Yorkshire">North Yorkshire</a>, England.</li>
        <li><a href="http://en.wikipedia.org/w/index.php?title=Yorkshire_Blue&amp;action=edit&amp;redlink=1" class="new" title="Yorkshire Blue (page does not exist)">Yorkshire Blue</a> <sup id="cite_ref-19" class="reference"><a href="#cite_note-19"><span>[</span>19<span>]</span></a></sup></li>
    </ul>

    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
